build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.28.2/CMakeCCompiler.cmake
build/CMakeFiles/3.28.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.28.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.28.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.28.2/CMakeSystem.cmake
build/CMakeFiles/3.28.2/CompilerIdC/a.out
build/CMakeFiles/3.28.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.28.2/CompilerIdCXX/a.out
build/CMakeFiles/3.28.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Progress/20
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/raytracer.dir/build.make
build/CMakeFiles/raytracer.dir/cmake_clean.cmake
build/CMakeFiles/raytracer.dir/compiler_depend.internal
build/CMakeFiles/raytracer.dir/compiler_depend.make
build/CMakeFiles/raytracer.dir/compiler_depend.ts
build/CMakeFiles/raytracer.dir/depend.make
build/CMakeFiles/raytracer.dir/DependInfo.cmake
build/CMakeFiles/raytracer.dir/flags.make
build/CMakeFiles/raytracer.dir/link.txt
build/CMakeFiles/raytracer.dir/progress.make
build/CMakeFiles/raytracer.dir/src/main.cpp.o
build/CMakeFiles/raytracer.dir/src/main.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Light/Objects/PointLight.cpp.o
build/CMakeFiles/raytracer.dir/src/Light/Objects/PointLight.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Math/Matrix.cpp.o
build/CMakeFiles/raytracer.dir/src/Math/Matrix.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Math/Point3D.cpp.o
build/CMakeFiles/raytracer.dir/src/Math/Point3D.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Math/Ray3D.cpp.o
build/CMakeFiles/raytracer.dir/src/Math/Ray3D.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Math/Rectangle3D.cpp.o
build/CMakeFiles/raytracer.dir/src/Math/Rectangle3D.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Math/Vector3D.cpp.o
build/CMakeFiles/raytracer.dir/src/Math/Vector3D.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Objects/Primitives/Cube.cpp.o
build/CMakeFiles/raytracer.dir/src/Objects/Primitives/Cube.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Objects/Primitives/Plane.cpp.o
build/CMakeFiles/raytracer.dir/src/Objects/Primitives/Plane.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Objects/Primitives/Sphere.cpp.o
build/CMakeFiles/raytracer.dir/src/Objects/Primitives/Sphere.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Output/PPMOutput.cpp.o
build/CMakeFiles/raytracer.dir/src/Output/PPMOutput.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Render/Camera.cpp.o
build/CMakeFiles/raytracer.dir/src/Render/Camera.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Render/RenderData.cpp.o
build/CMakeFiles/raytracer.dir/src/Render/RenderData.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Render/Renderer.cpp.o
build/CMakeFiles/raytracer.dir/src/Render/Renderer.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Render/RenderPoint.cpp.o
build/CMakeFiles/raytracer.dir/src/Render/RenderPoint.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Render/RenderProcessWrapper.cpp.o
build/CMakeFiles/raytracer.dir/src/Render/RenderProcessWrapper.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Render/RenderRay.cpp.o
build/CMakeFiles/raytracer.dir/src/Render/RenderRay.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Render/Threads.cpp.o
build/CMakeFiles/raytracer.dir/src/Render/Threads.cpp.o.d
build/CMakeFiles/raytracer.dir/src/Render/Editor/Editor.cpp.o.d
build/CMakeFiles/raytracer.dir/src/sfml/sfml.cpp.o
build/CMakeFiles/raytracer.dir/src/sfml/sfml.cpp.o.d
